@model sac.Models.tblAfavorde

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-xs-12 col-md-3"></div>
<div class="col-xs-12 col-md-6">
    <div class="row">
        <div class="box box-success" style="font-family:Courier New;">
            <div class="box-header">
                <h4 class="box-title" style="font-family:Courier New;"><strong>Detalles de "A favor de"</strong></h4>
            </div>
            <div class="box-body">
                <div>

                    <hr style="margin-top:-10px;" />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.nombres)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.nombres)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.apellidos)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.apellidos)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.genero)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.genero)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.telefono)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.telefono)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.correo)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.correo)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.fechanacimiento)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.fechanacimiento)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.lugarnacimiento)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.lugarnacimiento)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.municipio)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.municipio)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.departamento)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.departamento)
                        </dd>

                    </dl>
                </div>
                <p>
                    @Html.ActionLink("Editar", "Edit", new { id = Model.idfavorde },new { @class="btn bg-orange"}) |
                    @Html.ActionLink("Regresar", "Index", new { },new { @class="btn btn-default"})
                </p>
            </div>
        </div>
    </div>
</div>


<div class="col-xs-12 col-md-3"></div>